<h1>Dashboard</h1>

<%= link_to "Oppportunities", opportunities_path, class: "btn btn-large btn-default" %>

<%= link_to "View Leads", leads_path, class: "btn btn-large btn-default" %>

<%= link_to "Start Estimate", "http://app.solarlist.com/get-an-estimate", class: "btn btn-large btn-default" %>