<h1>Opportunities</h1>
<ul>
  <% @pportunities.each do |o| %>
    <li><%= link_to o.name, opportunity_path(o) %></li>
  <% end %>
</ul>

<%= link_to "Dashboard", root_path, class: "btn btn-large btn-default" %>